<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>caicloud-micro</title>
    <!-- Static navbar -->
    <link rel="stylesheet" href="/public/style.css" />
    <script src="/public/require.js"></script>
    <script>
      requirejs.config({
        baseUrl: "/",
        paths: {
          react: "/public/react.development",
          "react-dom": "/public/react-dom.development"
        }
      });

      window.token = "<%= token %>";
      window.uid = "<%= uid %>";
      window.BASE_PATH = "/user-web";
    </script>
  </head>

  <body>
    <div id="root"></div>
    <!-- <%- oidcHtml %> -->

    <script>
      requirejs(["http://localhost:9010/singleSpaEntry.js"]);
    </script>
    <!-- Load the application -->
    <script src="/public/main.js"></script>
  </body>
</html>
